@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-box {
  width: 90%;
  height: 30%;
  background-color: rgb(49, 49, 49);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 20px solid rgb(71, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #2176ca, #20c920);
}

.header {
  color: white;
}

.hour {
  position: absolute;
  top: 5%;
  right: 0;
  width: 10%;
  text-align: center;
  font-family: "VT323", monospace; /* Styl retro LED */
  color: orange;
  background: black;
  background-image: radial-gradient(gray 5%, transparent 10%);
  background-size: 5px 5px;
}
.hour p {
  font-size: 2rem;
  padding: 10px 0;
  margin: 0;
}
.description {
  display: flex;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  color: white;
  font-size: 1.8rem;
  justify-content: space-between;
}
.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Możesz dostosować */
  margin-left: 5%;
}
.right-side {
  display: flex;
  align-items: center;
  margin-right: 5%;
}
.content {
  font-family: "VT323", monospace; /* Styl retro LED */
  font-size: 24px;
  color: orange;
  background: black;
  background-image: radial-gradient(gray 5%, transparent 10%);
  background-size: 5px 5px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 7%;
  width: 92%;
  height: 50%;
  padding: 10px;
}
.content li {
  animation: blink 0.8s infinite alternate;
  font-size: 2rem;
}
@keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.blinking {
  animation: blink 1s infinite alternate;
}
.right-content {
  display: flex;
  margin-right: 2%;
}

.left-content {
  display: flex;
  gap: 50px;
  margin-left: 2%;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
